* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* color: rgb(0, 0, 0); */
  /* font-size: 0.9rem; */
}
body {
  margin: 0px auto;
  padding: 0;
  background-color: rgb(228, 228, 228);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(102, 51, 153, 0.205);
}

.container {
  max-width: 1300px;
  /* padding: 1vh 1vw; */
  margin: auto;
  background-color: rgb(198, 204, 185);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.comment-writer {
  text-align: center;
  min-width: 120px;
  font-weight: 600;
  font-style: italic;
}

.comment-comment {
  margin: 1rem 0 0 2rem;
  border-left: 2px solid purple;
  border-radius: 0 10px 10px 0;
  padding: 1.4rem;
  width: 100%;
  background-color: rgba(102, 51, 153, 0.07);
}

@media only screen and (max-width: 600px) {
  .side-nav {
    position: absolute !important;
    top: 60px;
    bottom: 0;
    z-index: 1000;
  }
  .comment-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: "left";
  }
  .comment-writer {
    text-align: left;
    min-width: 100%;
  }
  .comment-comment {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
  }
}

/* .label {
  z-index: 1;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #595959;
  transform: translate(0, 1.5rem) scale(1);
  margin-left: 10px;
}
.floatingLabel {
  color: rgb(11, 25, 228);
  transform: translate(0, 0) scale(1);
  margin-left: 0;
} */
